<html>
  <head>
    <title>Bruteforce_Me - Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="container">
      <h1>Bruteforce Login demo </h1>
      <br>
      <form action="/login" method="POST">
        <input type="text" placeholder="Username" name="username">
         <input type="password" placeholder="Password" name="password">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
    </div>
  </body>
</html>